@tailwind base;
@tailwind components;
@tailwind utilities;
/* index.css */
body {
  font-family: 'Inter', sans-serif;
}
.footer-link {
  position: relative;
  transition: color 0.3s ease;
  display: inline-block;
}

.footer-link::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #6366f1; /* indigo-500 */
  transition: width 0.3s ease;
}

.footer-link:hover {
  color: #6366f1; /* hover text color */
}

.footer-link:hover::after {
  width: 100%;
}
